

.service .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
}

.service .box-container .box{
   border-radius: .5rem;
   background:#333;
   text-align: center;
   padding:2.5rem;
}

.service .box-container .box i{
   height: 3rem;
   width:   1rem;
   line-height: 3rem;
   border-radius: 50%;
   font-size: 2.5rem;
   background:var(--main-color);
   color:#fff;
}

.service .box-container .box h3{
   font-size: 2rem;
   color:#fff;
   padding:1rem 0;
}

.service .box-container .box p{
   font-size: 1.4rem;
   color:#eee;
   line-height: 1.8;
}
.ok{
   cursor: pointer;
}
