<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <form >
        <div class="inputBox">
            <input type="text" placeholder="name"  [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
            <input type="email" placeholder="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="inputBox">
            <input type="number" placeholder="number" [(ngModel)]="user.number" [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="subject" [(ngModel)]="user.subject" [ngModelOptions]="{standalone: true}">
        </div>
        <textarea name="" placeholder="your message" id="" cols="30" rows="10" [(ngModel)]="user.message" [ngModelOptions]="{standalone: true}"></textarea>
        <!-- <input type="submit" value="send message" class="btn" > -->
        <button (click)="openaccount($event)" class="btn">Submit</button>
    </form>

</section>

